.App {
  margin: 20px;
}

.countryView {
  background: #D7A9E3FF;
  padding-top: 10px;
  border-top: 1px solid black
}

.countryNameInput {
  margin: 0 15px 10px 15px;
}

.stateView {
  background: #8BBEE8FF;
  padding-top: 10px;
  border-top: 1px solid black
}

.stateNameInput {
  margin: 0 15px 10px 30px;
}

.cityView {
  background: #A8D5BAFF;
  padding-top: 10px;
  border-top: 1px solid black
}

.cityNameInput {
  margin: 0 15px 10px 45px;

}

.buttonClass {
  margin-right: 15px;
}

.submitInputView {
  margin-top: 15px;
}
